* {
  box-sizing: border-box;
}

.results{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img.results-img {
  height: 75px;
  width: auto;
  margin: 5px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

img {
  display: block;
}